body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
}

h1 {
    font-size: 48px;
    font-weight: bold;
}

h2 {
    font-size: 36px;
}

a {
    text-decoration: none;
}
